asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
coverage==7.10.3
Django==4.2.23
django-haystack==3.3.0
elasticsearch==7.17.12
Faker==37.5.3
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mysqlclient==2.2.7
packaging==25.0
pypandoc==1.15
python-dotenv==1.1.1
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==1.26.20
whitenoise==6.9.0
