[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mdit-py-plugins = "*"
markdown-it-py = {extras = ["linkify", "plugins"], version = "*"}
pypandoc = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
#uwsgi = "*"
#supervisor = "*"
faker = "*"
django-haystack = "*"
elasticsearch = "<8,>=7"

[dev-packages]

[requires]
python_version = "3.9"
