{% comment %} 从上下文中获取日期格式化字符串 {% endcomment %}
{% with df_strftime='Y/m/d' %}

{% comment %}
如果提供了 `class` 参数，则添加相应的 CSS 类
设置数据属性 `data-ts` 为日期的 UNIX 时间戳
设置数据属性 `data-df` 为 JavaScript 日期格式化字符串
如果提供了 `tooltip` 参数，则添加 Bootstrap Tooltip 的相关属性
使用 `df_strftime` 格式化显示日期
{% endcomment %}

{% if post.modified_time %}
  <time><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.modified_time|date:'Y年m月d日'}}</font></font></time>
{% else %}
  <time><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.created_time|date:'Y年m月d日'}}</font></font></time>
{% endif %}

{% endwith %}
