<!-- The Top Bar -->
{#{% load breadcrumb_tags %}#}

<header id="topbar-wrapper" aria-label="Top Bar">
  <div id="topbar" class="d-flex align-items-center justify-content-between px-lg-3 h-100">
    <!-- 面包屑导航 -->
    <nav id="breadcrumb" aria-label="Breadcrumb">
        {% if breadcrumbs %}
            {% if breadcrumbs|length == 1 %}
                {% for name, url in breadcrumbs %}
                    <span>{{ name }}</span>
                {% endfor %}
            {% else %}
                {% for name, url in breadcrumbs %}
                    {% if forloop.last %}
                        <span>{{ name }}</span>
                    {% else %}
                        <span><a href="{{ url }}">{{ name }}</a></span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </nav>
    <!-- 侧边栏触发按钮 -->
    <button type="button" id="sidebar-trigger" class="btn btn-link">
      <i class="fas fa-bars fa-fw"></i>
    </button>
    <!-- 顶部栏标题 -->
    {% if breadcrumbs_mobile %}
    {% for name in breadcrumbs_mobile %}
    <div id="topbar-title">{{ name }}</div>
    {% endfor %}
    {% endif %}
    <!-- 搜索触发按钮 -->
    <button type="button" id="search-trigger" class="btn btn-link">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <!-- 搜索框 -->
    <search id="search" class="align-items-center ms-3 ms-lg-0">
      <i class="fas fa-search fa-fw"></i>
      <input class="form-control" id="search-input" type="search" aria-label="search" autocomplete="off" placeholder="搜索关键词...">
    </search>
    <!-- 搜索取消按钮 -->
    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">取消</button>
  </div>
</header>
