<!doctype html>
{% load static %}
{% load blog_tags %}
<html lang="en">
  <!-- 包含页面头部的 HTML 文件 -->
  {% include '_includes/head.html' %}

  <body>
    <!-- 包含页面侧边栏的 HTML 文件 -->
    {% include '_includes/sidebar.html' %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        <!-- 包含页面顶部栏的 HTML 文件 -->
        {% include '_includes/topbar.html' with breadcrumbs=breadcrumbs %}

        <div class="row flex-grow-1">
          <!-- 主内容区域 -->
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            <!-- 定义内容块，子模板可以在此处插入内容 -->
            {% block content %}
            {% endblock %}
          </main>

          <!-- 侧边栏，用于显示额外内容 -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
            <div class="access">
              <!-- 包含更新列表的 HTML 文件 -->
              {% show_recent_posts 10 %}
              <!-- 包含热门标签的 HTML 文件 -->
              {% show_trending_tags 10 %}
            </div>
            <!-- 生成文章目录 -->
            {% block toc %}
            {% endblock %}
          </aside>
        </div>

        <div class="row">
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            <!-- 包含页面底部的 HTML 文件 -->
            {% block related-posts %}
            {% endblock related-posts %}

            <!-- 包含评论的 HTML 文件 -->
            {% block comments %}
            {% endblock %}

            {% include '_includes/footer.html' %}
          </div>
        </div>

        <!-- 包含搜索结果的 HTML 文件 -->
        {% include  '_includes/search-results.html' %}

      </div>

      <!-- 返回顶部按钮 -->
      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <!-- 页面遮罩层 -->
    <div id="mask"></div>

    <!-- 包含加载 JavaScript 文件内容 -->
    {% include '_includes/js-selector.html' %}

  </body>
</html>
